<head>
  <title>Login admin</title>
</head>
<body>
  <div class="container-fluid">
    <div class="rowhead row">
      <div class="col-2"></div>
      <div class="col-8">
        <h1 class="display-2">Lotto Admin Login</h1>
      </div>
      <div class="col-2"></div>
    </div>
    <div class="rowform row">
      <div class="col-2"></div>
      <div class="col-8">
        <form (submit)="loginUser($event)">
            <div ng-show="{{showalert}}">
                <h1>Welcome</h1>
                <p>Welcome to my home.</p>
                </div>
          <div class="input1">
            <label for="username">Username: </label>
            <input class="form-control" type="text" id="username">
          </div>
          <div class="input2">
            <label for="password">Password: </label>
            <input class="form-control" type="password" id="password">
          </div>
          <div class="input3">
            <input class="btnsubmit btn btn-primary" type="submit" value="login">
          </div>
        </form>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</body>
