.rowhead{
    height: 250px;
    text-align: center;
}
.display-2{
    margin-top: 50px;
}
.rowform{
    height: 250px;
    text-align:center;
}
.rowform .col-8{
    margin-top: 3rem;
}
.input1{
    display:grid;
    grid-template-columns: 25% 50% 25%;
}
.input2{
    margin-top: 5px;
    display:grid;
    grid-template-columns: 25% 50% 25%;
}
.input3{
    margin-top: 1rem;
}
label{
    padding-left: 10rem;
}